# Dataset 2

# Qustion 1
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement.

In [2]:
a = 0

def b():
    global a
    a=c(a)

def c(a):
    return a + 2

In [ ]:
b()

In [4]:
b()

In [5]:
b()

In [6]:
a

6

(1)In this step function b is called and excuted but nothing will print as there is no return statement but it will take the the value of a (initialy 0) and then calling the fumction and assigning the value to the variable "a". In this step function c() is initiated and will add 0+2 and return the value and it will add to variable "a"

(2)Again we are calling the function now value of a is 2 so in function c() it will add 2+2=4 and return it

(3)Again we are calling the function now value of a is 4 so in function c() it will add 4+2=6 and return it

(4)printing the value of variable "a"

# Qustion 2
Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:

In [2]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print('File {} not found'.format(file_name))

In [3]:
file_length('midterm.ipynb')

106936

As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead:

In [2]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print('File {} not found'.format(file_name))

In [4]:
file_length('idterm.ipynb')

File idterm.ipynb not found

# Qustion 3
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']

In [3]:
class  Marsupial:
    def __init__(self):
        self.lst=[]
    def put_in_pouch(self,item):
        self.lst.append(item)
    def pouch_content(self):
        return self.lst

m=Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('Kitten')
m.pouch_content()

['doll', 'firetruck', 'Kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the 
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and 
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.

In [4]:
class  Marsupial:
    def __init__(self):
        self.lst=[]
    def put_in_pouch(self,item):
        self.lst.append(item)
    def pouch_content(self):
        return self.lst
'''
m=Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('Kitten')
m.pouch_content()
'''
class Kangaroo(Marsupial):
    def __init__(self,xcoord,ycoord):
        Marsupial.__init__(self)
        self.x=xcoord
        self.y=ycoord
    def jump(self,dx,dy):
        self.x += dx
        self.y += dy
    def __str__(self):
        return 'I am a kangaroo located at coordinates({},{})'.format(self.x,self.y)

k=Kangaroo(0,0)
print(k)

I am a kangaroo located at coordinates(0,0)

In [11]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('Kitten')
k.pouch_content()

['doll', 'firetruck', 'Kitten']

In [12]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a kangaroo located at coordinates(3,0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:
x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops

In [5]:
def colatz(y):
    if y % 2 == 0: 
        y = y / 2
        print(int(y))
        func2(y)
    else:
        y=y*3+1
        print(int(y))
        func2(y)
    
def func2(q):
    if q!=1:
        z=colatz(q)
    if q==1:
        print(" ")

        
x=int(input("enter any number"))
print(int(x))
colatz(x)
if x==1:
    print(int(x))

enter any number10
10
5
16
8
4
2
1

# Question 5
Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [1]:
def binary(n):
    if n < 2:
        e=int(n)
        print(e, end=" ")
    else:
        binary(n / 2)
        w=int(n%2)
        print(w, end = ' ')

x=int(input("enter binary number"))
binary(x)

enter binary number9
1 0 0 1

# Question6
Implement a class named HeadingParser that can be used to parse an HTML 
document, and retrieve and print all the headings in the document. You should 
implement your class as a subclass of HTMLParser, defined in Standard Library 
module html.parser. When fed a string containing HTML code, your class should 
print the headings, one per line and in the order in which they appear in the 
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your 
implementation using w3c.html.

In [2]:
from html.parser import HTMLParser


class HeadinParser(HTMLParser):
    def handle_starttag(self, tag, attrs):
        if tag == 'h1':
            print("Start tag:", tag)
           # for attr in attrs:
           # print("     attr:", attr)

    def handle_endtag(self, tag):
        print("End tag  :", tag)

    def handle_data(self, data):
        print("Data     :", data)

infile = open('C:/Users/deep1/Desktop/w3c.html') 
content = infile.readline() 
infile.close()
hp=HeadingParser()   
hp.feed(content)

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and 
non-negative integers depth and indent. Your function should visit every web 
page reachable from the starting URL web page in depth clicks or less, and print 
each web page's URL. As shown below, indentation, specified by indent, should 
be used to indicate the depth of a URL.

In [ ]:
from urllib.parse import urljoin
from html.parser import HTMLParser
from urllib.request import urlopen

class Url_Parser(HTMLParser):
    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
    def handle_starttag(self, tag, attrs):
        for attr in attrs:
            if attr[0] == 'href':
                x = urljoin(self.url, attr[1])
                if x[:4] == 'http':
                    self.links.append(x)

# Question8
Write SQL queries on the below database table that return:

In [1]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\deep1\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: six in c:\users\deep1\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython>=1.0 in c:\users\deep1\anaconda3\lib\site-packages (from ipython-sql) (7.22.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\deep1\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable<1 in c:\users\deep1\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlparse in c:\users\deep1\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\deep1\anaconda3\lib\site-packages (from ipython-sql) (1.4.7)
Requirement already satisfied: traitlets>=4.2 in c:\users\deep1\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: jedi>=0.16 in c:\users\deep1\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: decorator in c:\users\deep1\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.6)
Requirement already satisfied: colorama in c:\users\deep1\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pygments in c:\users\deep1\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.8.1)
Requirement already satisfied: backcall in c:\users\deep1\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\deep1\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\deep1\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: setuptools>=18.5 in c:\users\deep1\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\deep1\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.0.0)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\deep1\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\deep1\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)

In [2]:
%load_ext sql

In [3]:
%sql sqlite://

In [4]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\deep1\anaconda3\lib\site-packages (21.3.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
%%sql
CREATE TABLE SEASONS
(City varchar(6),
 Country varchar(6),
 Season varchar(6),
 Temperature float,
 Rainfall float);

 * sqlite://
Done.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [6]:
%%sql
INSERT INTO SEASONS VALUES('Mumbai','India','Winter',24.8,5.9),
('Mumbai','India','Spring',28.4,16.2),
('Mumbai','India','Summer',27.9,1549.4),
('Mumbai','India','Fall',27.6,346.0),
('London','United Kingdom','Winter',4.2,207.7),
('London','United Kingdom','Spring',8.3,169.6),
('London','United Kingdom','Summer',15.7,157.0),
('London','United Kingdom','Fall',10.4,218.5),
('Cairo','Egypt','Winter',13.6,16.5),
('Cairo','Egypt','Spring',20.7,6.5),
('Cairo','Egypt','Summer',27.7,0.1),
('Cairo-','Egypt','Fall',22.2,4.5);

 * sqlite://
12 rows affected.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [7]:
%%sql
select * from SEASONS;

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo-', 'Egypt', 'Fall', 22.2, 4.5)]

a) All the temperature data

In [8]:
%%sql
select Temperature from SEASONS;

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

b) All the cities, but without repetition.

In [9]:
%%sql
select DISTINCT City from SEASONS;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',), ('Cairo-',)]

c) All the records for India.

In [10]:
%%sql
select * from SEASONS WHERE Country='India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

d) All the Fall records

In [11]:
%%sql
select * from SEASONS WHERE Season='Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo-', 'Egypt', 'Fall', 22.2, 4.5)]

e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.

In [12]:
%%sql
SELECT
City,Country,Season
from SEASONS
WHERE Rainfall BETWEEN 200.0 AND 400.0;

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.

In [13]:
%%sql
select
City,Country,Season,Temperature
from SEASONS WHERE
Season='Fall' AND Temperature>20 order by Temperature ASC;

 * sqlite://
Done.

[('Cairo-', 'Egypt', 'Fall', 22.2), ('Mumbai', 'India', 'Fall', 27.6)]

g) The total annual rainfall for Cairo.

In [14]:
%%sql
select SUM(rainfall) As Annual from SEASONS
WHERE City='Cairo'

 * sqlite://
Done.

[(23.1,)]

h) The total rainfall for each season.

In [15]:
%%sql
select Season,sum(Rainfall) from SEASONS
group by Season;

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9
Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following 
lists:

In [4]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']
print(words)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

(A) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 
'LAZY', 'DOG']

In [17]:
[y.upper() for y in words]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

(B)['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog']

In [18]:
[y.lower() for y in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

(c)[3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list 
words)

In [19]:
[len(y) for y in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

(D) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], 
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.)

In [5]:
[[i.upper(), i.lower() ,len(i)] for i in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

(E) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog'] (the list of words in list words containing 4 or more 
characters.)

In [10]:
[i for i in words if len(i)>=4]

['quick', 'brown', 'jumps', 'over', 'lazy']